
                    <h3 class="text-left">Closure</h3>
                    <table class="table">
                      
                      <tbody class="left-bg">
                        <tr>
                          <td scope="row">Overall Rating(As per Performance Rating 
                            Scale)(To be filled by Manager)</td>
                          <td style="width: 350px;">
                           
                                  <textarea Input78 placeholder="Leave a comment"></textarea>
                              
                          </td>
                          <td style="width: 350px;">
                           
                                  <textarea Input79 placeholder="Leave a comment"></textarea>
                             
                          </td>
      
                        </tr>
                        <tr>
                          <td scope="row">HR Feedback</td>
                          <td>
                             
                                  <textarea Input80 placeholder="Leave a comment"></textarea>
                              
                          </td>
                          <td> 
                             
                                  <textarea Input81 placeholder="Leave a comment"></textarea>
                              
                          </td>
      
                        </tr>
                        <tr>
                          <td scope="row">Management Feedback</td>
                          <td>
                             
                                  <textarea Input82 placeholder="Leave a comment"></textarea>
                               
                          </td>
                          <td>
                             
                                  <textarea Input83 placeholder="Leave a comment"></textarea>
                               
                          </td>
      
                        </tr>
                      
                      </tbody>
                    </table>

                    
                <div class="signature-section">
                        <div class="row">
                          <div class="col-sm-3 text-left">
                             <div class="signature-block">
                               <input type="text">
                            </div>
                               <label>Employee Signature</label>
                             </div>

                             <div class="col-sm-3 text-left">
                                    <div class="signature-block">
                                      <input type="text">
                                    </div>
                                      <label>Reporting Manager’s Signature</label>
                                    </div>

                                    <div class="col-sm-6 text-right">
                                            <div class="signature-block">
                                              <input type="text">
                                            </div>
                                              <label>HR Manager’s Signature</label>
                                            </div>
                            </div>
                        </div>

