
     <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Goal Category</th>
                <th scope="col">Goals</th>
                <th scope="col">Target</th>
                <th scope="col">Rating(Self)</th>
                <th scope="col">Personal Data</th>
                <th scope="col">Comments (Self-Evaluation)</th>
                <th scope="col">Rating(Manager)</th>
                <th scope="col">Comments(Manager Evaluation)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">Project/ Work Related Goals </td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                      Goal 1: Expertise in JQuery/JavaScript, MVC
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Goal 2: Expertise in EDMX, Restful services
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Goal 2: Expertise in EDMX, Restful services
                    </td>
                  </tr>
                </table></td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                      100%
                    </td>
                  </tr>
                  <tr>
                    <td>
                      100%
                    </td>
                  </tr>
                  <tr>
                    <td>
                      100%
                    </td>
                  </tr>
                </table></td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput1 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput2 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput3 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                </table></td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput4 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput5 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput6 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                </table></td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput7 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput8 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput9 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                </table></td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput10 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput11 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput12 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                </table></td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput13 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput14 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput15 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                  <td scope="row">Customer Orientation Goals</td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                        Goal 4: Deliver Quality Work
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Goal 5: Timely Delivery
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Goal 6: Requirement Gathering and Client Communication
                      </td>
                    </tr>
                  </table></td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                        100%
                      </td>
                    </tr>
                    <tr>
                      <td>
                        100%
                      </td>
                    </tr>
                    <tr>
                      <td>
                        100%
                      </td>
                    </tr>
                  </table></td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput16 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput17 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput18 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                  </table></td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput19 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput20 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput21 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                  </table></td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput22 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput23 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput24 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                  </table></td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput25 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput26 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput27 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                  </table></td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput28 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput29 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput30 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                  <td scope="row">Internal Processes</td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                        Goal 7: Participation in Training Session
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Goal 8: Give Training Session on any topic
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Goal 9: Review Other Team Members Code
                      </td>
                    </tr>
                  </table></td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                        100%
                      </td>
                    </tr>
                    <tr>
                      <td>
                        3
                      </td>
                    </tr>
                    <tr>
                      <td>
                        100%
                      </td>
                    </tr>
                  </table></td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput31 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput32 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput33 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                  </table></td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput34 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput35 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput36 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                  </table></td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput37 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput38 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput39 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                  </table></td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput40 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput41 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput42 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                  </table></td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput43 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput44 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field class="example-full-width">
                          <textarea matInput45 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td scope="row">Learning and Development</td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                      Goal 10: Learn .Net Core concept and Create POC
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Goal 11: Get involved in lead estimation
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Goal 2: Expertise in EDMX, Restful services
                    </td>
                  </tr>
                </table></td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                      1
                    </td>
                  </tr>
                  <tr>
                    <td>
                      100%
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1
                    </td>
                  </tr>
                </table></td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput46 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput47 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput48 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                </table></td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput49 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput50 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput51 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                </table></td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput52 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput53 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput54 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                </table></td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput55 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput56 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput57 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                </table></td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput58 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput59 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                         
                        <textarea  placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                </table></td>
            </tr>

            </tbody>
          </table>