<!-- 
     <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Goal Category</th>
                <th scope="col">Goals</th>
                <th scope="col">Target</th>
                <th scope="col">Rating(Self)</th>
                <th scope="col">Personal Data</th>
                <th scope="col">Comments (Self-Evaluation)</th>
                <th scope="col">Rating(Manager)</th>
                <th scope="col">Comments(Manager Evaluation)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">Project/ Work Related Goals </td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                        <textarea [(ngModel)]='goal' name="goal1" rows="3" placeholder="Goal 1" cols="30"></textarea> 
                                     
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <textarea #goal2 name="goal2" rows="3" placeholder="Goal 2" cols="30"></textarea> 
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <textarea #goal3 name="goal3" rows="3" placeholder="Goal 3" cols="30"></textarea> 
                    </td>
                  </tr>
                </table></td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                      100%
                    </td>
                  </tr>
                  <tr>
                    <td>
                      100%
                    </td>
                  </tr>
                  <tr>
                    <td>
                      100%
                    </td>
                  </tr>
                </table></td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                     
                        <textarea Input1 placeholder="Leave a comment"></textarea>
                     
                    </td>
                  </tr>
                  <tr>
                    <td>
                     
                        <textarea Input2 placeholder="Leave a comment"></textarea>
                      
                    </td>
                  </tr>
                  <tr>
                    <td>
                     
                        <textarea Input3 placeholder="Leave a comment"></textarea>
                     
                    </td>
                  </tr>
                </table></td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                  
                        <textarea Input4 placeholder="Leave a comment"></textarea>
                      
                    </td>
                  </tr>
                  <tr>
                    <td>
                      
                        <textarea matInput5 placeholder="Leave a comment"></textarea>
                     
                    </td>
                  </tr>
                  <tr>
                    <td>
                    
                        <textarea Input6 placeholder="Leave a comment"></textarea>
                     
                    </td>
                  </tr>
                </table></td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                   
                        <textarea Input7 placeholder="Leave a comment"></textarea>
                     
                    </td>
                  </tr>
                  <tr>
                    <td>
                     
                        <textarea Input8 placeholder="Leave a comment"></textarea>
                      
                    </td>
                  </tr>
                  <tr>
                    <td>
                      
                        <textarea Input9 placeholder="Leave a comment"></textarea>
                    
                    </td>
                  </tr>
                </table></td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                      
                        <textarea Input10 placeholder="Leave a comment"></textarea>
                     
                    </td>
                  </tr>
                  <tr>
                    <td>
                    
                        <textarea matInput11 placeholder="Leave a comment"></textarea>
                    
                    </td>
                  </tr>
                  <tr>
                    <td>
                     
                        <textarea Input12 placeholder="Leave a comment"></textarea>
                    
                    </td>
                  </tr>
                </table></td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                      
                        <textarea matInput13 placeholder="Leave a comment"></textarea>
                     
                    </td>
                  </tr>
                  <tr>
                    <td>
                     
                        <textarea Input14 placeholder="Leave a comment"></textarea>
                    
                    </td>
                  </tr>
                  <tr>
                    <td>
                      
                        <textarea Input15 placeholder="Leave a comment"></textarea>
                     
                    </td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                  <td scope="row">Customer Orientation Goals</td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                          <textarea name="goal4" rows="3" placeholder="Goal 4" cols="30"></textarea> 
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <textarea name="goal5" rows="3" placeholder="Goal 5" cols="30"></textarea> 
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <textarea name="goal6" rows="3" placeholder="Goal 6" cols="30"></textarea> 
                      </td>
                    </tr>
                  </table></td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                        100%
                      </td>
                    </tr>
                    <tr>
                      <td>
                        100%
                      </td>
                    </tr>
                    <tr>
                      <td>
                        100%
                      </td>
                    </tr>
                  </table></td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                      
                          <textarea Input16 placeholder="Leave a comment"></textarea>
                       
                      </td>
                    </tr>
                    <tr>
                      <td>
                       
                          <textarea Input17 placeholder="Leave a comment"></textarea>
                       
                      </td>
                    </tr>
                    <tr>
                      <td>
                        
                          <textarea Input18 placeholder="Leave a comment"></textarea>
                       
                      </td>
                    </tr>
                  </table></td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                      
                          <textarea Input19 placeholder="Leave a comment"></textarea>
                       
                      </td>
                    </tr>
                    <tr>
                      <td>
                       
                          <textarea Input20 placeholder="Leave a comment"></textarea>
                      
                      </td>
                    </tr>
                    <tr>
                      <td>
                        
                          <textarea Input21 placeholder="Leave a comment"></textarea>
                      
                      </td>
                    </tr>
                  </table></td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                      
                          <textarea Input22 placeholder="Leave a comment"></textarea>
                       
                      </td>
                    </tr>
                    <tr>
                      <td>
                      
                          <textarea Input23 placeholder="Leave a comment"></textarea>
                        
                      </td>
                    </tr>
                    <tr>
                      <td>
                      
                          <textarea Input24 placeholder="Leave a comment"></textarea>
                       
                      </td>
                    </tr>
                  </table></td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                        
                          <textarea Input25 placeholder="Leave a comment"></textarea>
                        
                      </td>
                    </tr>
                    <tr>
                      <td>
                       
                          <textarea Input26 placeholder="Leave a comment"></textarea>
                      
                      </td>
                    </tr>
                    <tr>
                      <td>
                     
                          <textarea Input27 placeholder="Leave a comment"></textarea>
                       
                      </td>
                    </tr>
                  </table></td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                        
                          <textarea Input28 placeholder="Leave a comment"></textarea>
                      
                      </td>
                    </tr>
                    <tr>
                      <td>
                       
                          <textarea Input29 placeholder="Leave a comment"></textarea>
                      
                      </td>
                    </tr>
                    <tr>
                      <td>
                      
                          <textarea Input30 placeholder="Leave a comment"></textarea>
                       
                      </td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                  <td scope="row">Internal Processes</td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                          <textarea name="goal7" rows="3" placeholder="Goal 7" cols="30"></textarea>                  
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <textarea name="goal8" rows="3" placeholder="Goal 8" cols="30"></textarea> 
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <textarea name="goal9" rows="3" placeholder="Goal 9" cols="30"></textarea> 
                      </td>
                    </tr>
                  </table></td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                        100%
                      </td>
                    </tr>
                    <tr>
                      <td>
                        3
                      </td>
                    </tr>
                    <tr>
                      <td>
                        100%
                      </td>
                    </tr>
                  </table></td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                     
                          <textarea Input31 placeholder="Leave a comment"></textarea>
                    
                      </td>
                    </tr>
                    <tr>
                      <td>
                      
                          <textarea Input32 placeholder="Leave a comment"></textarea>
                       
                      </td>
                    </tr>
                    <tr>
                      <td>
                       
                          <textarea Input33 placeholder="Leave a comment"></textarea>
                       
                      </td>
                    </tr>
                  </table></td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                     
                          <textarea Input34 placeholder="Leave a comment"></textarea>
                     
                      </td>
                    </tr>
                    <tr>
                      <td>                   
                          <textarea Input35 placeholder="Leave a comment"></textarea>                   
                      </td>
                    </tr>
                    <tr>
                      <td>                  
                          <textarea Input36 placeholder="Leave a comment"></textarea>
                      </td>
                    </tr>
                  </table></td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                      
                          <textarea Input37 placeholder="Leave a comment"></textarea>
                     
                      </td>
                    </tr>
                    <tr>
                      <td>
                       
                          <textarea Input38 placeholder="Leave a comment"></textarea>
                        
                      </td>
                    </tr>
                    <tr>
                      <td>
                        
                          <textarea Input39 placeholder="Leave a comment"></textarea>
                     
                      </td>
                    </tr>
                  </table></td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                      
                          <textarea Input40 placeholder="Leave a comment"></textarea>
                      
                      </td>
                    </tr>
                    <tr>
                      <td>
                       
                          <textarea matInput41 placeholder="Leave a comment"></textarea>
                     
                      </td>
                    </tr>
                    <tr>
                      <td>
                     
                          <textarea matInput42 placeholder="Leave a comment"></textarea>
                     
                      </td>
                    </tr>
                  </table></td>
                  <td class="sub-table"><table >
                    <tr>
                      <td>
                       
                          <textarea Input43 placeholder="Leave a comment"></textarea>
                     
                      </td>
                    </tr>
                    <tr>
                      <td>
                       
                          <textarea matInput44 placeholder="Leave a comment"></textarea>
                       
                      </td>
                    </tr>
                    <tr>
                      <td>
                       
                          <textarea Input45 placeholder="Leave a comment"></textarea>
                        
                      </td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td scope="row">Learning and Development</td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                        <textarea name="goal10" rows="3" placeholder="Goal 10" cols="30"></textarea> 
                     
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <textarea name="goal11" rows="3" placeholder="Goal 11" cols="30"></textarea> 
                   
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <textarea name="goal12" rows="3" placeholder="Goal 12" cols="30"></textarea> 
                 
                    </td>
                  </tr>
                </table></td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                      1
                    </td>
                  </tr>
                  <tr>
                    <td>
                      100%
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1
                    </td>
                  </tr>
                </table></td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                     
                        <textarea Input46 placeholder="Leave a comment"></textarea>
                     
                    </td>
                  </tr>
                  <tr>
                    <td>
                    
                        <textarea Input47 placeholder="Leave a comment"></textarea>
                     
                    </td>
                  </tr>
                  <tr>
                    <td>
                      
                        <textarea matInput48 placeholder="Leave a comment"></textarea>
                     
                    </td>
                  </tr>
                </table></td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                   
                        <textarea Input49 placeholder="Leave a comment"></textarea>
                   
                    </td>
                  </tr>
                  <tr>
                    <td>
                     
                        <textarea Input50 placeholder="Leave a comment"></textarea>
                     
                    </td>
                  </tr>
                  <tr>
                    <td>
                      
                        <textarea Input51 placeholder="Leave a comment"></textarea>
                    
                    </td>
                  </tr>
                </table></td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                   
                        <textarea Input52 placeholder="Leave a comment"></textarea>
                   
                    </td>
                  </tr>
                  <tr>
                    <td>
                     
                        <textarea Input53 placeholder="Leave a comment"></textarea>
                  
                    </td>
                  </tr>
                  <tr>
                    <td>
                     
                        <textarea Input54 placeholder="Leave a comment"></textarea>
                     
                    </td>
                  </tr>
                </table></td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
                 
                        <textarea Input55 placeholder="Leave a comment"></textarea>
                   
                    </td>
                  </tr>
                  <tr>
                    <td>
            
                        <textarea Input56 placeholder="Leave a comment"></textarea>
                 
                    </td>
                  </tr>
                  <tr>
                    <td>              
                        <textarea Input57 placeholder="Leave a comment"></textarea>                 
                    </td>
                  </tr>
                </table></td>
                <td class="sub-table"><table >
                  <tr>
                    <td>
      
                        <textarea Input58 placeholder="Leave a comment"></textarea>
                   
                    </td>
                  </tr>
                  <tr>
                    <td>
                     
                        <textarea Input59 placeholder="Leave a comment"></textarea>
                     
                    </td>
                  </tr>
                  <tr>
                    <td>
                     
                         
                        <textarea Input60 placeholder="Leave a comment"></textarea>
                    
                    </td>
                  </tr>
                </table></td>
            </tr>

            </tbody>
          </table> -->