<table mat-table [dataSource]="employeesOfDepartment" class="mat-elevation-z8 table table-sm table-wrapper">
  <!-- Full Name Column -->
  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef> Full Name </th>
    <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
  </ng-container>

  <!-- Code Column -->
  <ng-container matColumnDef="emp_Code">
    <th mat-header-cell *matHeaderCellDef> Code </th>
    <td mat-cell *matCellDef="let element"> {{element.emp_Code}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="officialEmail">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.officialEmail}} </td>
  </ng-container>
  <ng-container matColumnDef="GoalSubmiited">
      <th mat-header-cell *matHeaderCellDef> Goal status  </th>
      <td mat-cell *matCellDef="let element">
          <p class="btn green-bg" *ngIf="element.goalsettingByLeadStatus === 3" >Completed</p>
          <p class="btn blue-bg" *ngIf="element.goalsettingByLeadStatus === 1||element.goalsettingByLeadStatus === 2" >Pending</p>
    </ng-container>
    <ng-container matColumnDef="assesmentFilled">
      <th mat-header-cell *matHeaderCellDef>Assesment status</th>
      <td mat-cell *matCellDef="let element">
        <p class="btn green-bg" *ngIf="element.selfAssesmentStatus === 3" >Completed</p>
        <p class="btn blue-bg" *ngIf="element.selfAssesmentStatus === 1 || element.selfAssesmentStatus === 2" >Pending</p>
    </ng-container>
  <!-- Appraisal Status Column -->
  <ng-container matColumnDef="appraisalStatus">
    <th mat-header-cell *matHeaderCellDef> Appraisal Status </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button class="amber-bg" (click)="ViewFormClicked(element)">View Form</button>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- <p>{{employeeList | json}}</p> -->