
<app-menu></app-menu>
<section class="table-wrapper">
        <div class="container">
            <div class="row text-center goal_setting_block">
<app-appraisal-form-personal-data></app-appraisal-form-personal-data>
<app-appraisal-form-goal-section></app-appraisal-form-goal-section>
<app-appraisal-form-behavioural-goal-section></app-appraisal-form-behavioural-goal-section>
<app-appraisal-form-ambition-expect-section></app-appraisal-form-ambition-expect-section>
<app-appraisal-form-summary></app-appraisal-form-summary>
<app-appraisal-form-closure></app-appraisal-form-closure>

</div>
</div>
</section>

