.yello-bg {
    background: #f3c624;
    font-weight: 600;
  }
  .blue-bg {
    background: #3f51b5;
    font-weight: 600;
    color: #fff;
  }
.sub-table input {
  width: 60px;
}
textarea {
  width: 269px !important;
}
.container {
  max-width: 1266px;
}
textarea.form-control {
  height: 60px;
}
textarea.summarize{
  width: 100% !important;
}
button.back {
  position: absolute;
  left: 0;
  top: 0;
}
