
<h3 class="text-left">Summary</h3>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">&nbsp;</th>
      <th style="width: 460px;" scope="col">Self-Comments</th>
      <th style="width: 460px;" scope="col">Managers Comments</th>

    </tr>
  </thead>
  <tbody class="left-bg">
    <tr>
      <td scope="row">Summarize Overall Performance</td>
      <td>
          
              <textarea Input72 placeholder="Leave a comment"></textarea>
           
      </td>
      <td>
         
              <textarea Input73 placeholder="Leave a comment"></textarea>
           
      </td>

    </tr>
    <tr>
      <td scope="row">Areas of Improvement</td>
      <td>
       
              <textarea Input74 placeholder="Leave a comment"></textarea>
           
      </td>
      <td>
         
              <textarea Input75 placeholder="Leave a comment"></textarea>
           
           </td>

    </tr>
    <tr>
      <td scope="row">Action Plan for Improvement </td>
      <td>
       
              <textarea Input76 placeholder="Leave a comment"></textarea>
           
      </td>
      <td>
        
              <textarea Input77 placeholder="Leave a comment"></textarea>
            
      </td>

    </tr>
  
  </tbody>
</table>
