
<h3 class="text-left">Summary</h3>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">&nbsp;</th>
      <th style="width: 460px;" scope="col">Self-Comments</th>
      <th style="width: 460px;" scope="col">Managers Comments</th>

    </tr>
  </thead>
  <tbody class="left-bg">
    <tr>
      <td scope="row">Summarize Overall Performance</td>
      <td>
          <mat-form-field class="example-full-width">
              <textarea matInput72 placeholder="Leave a comment"></textarea>
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <textarea matInput73 placeholder="Leave a comment"></textarea>
            </mat-form-field>
      </td>

    </tr>
    <tr>
      <td scope="row">Areas of Improvement</td>
      <td>
          <mat-form-field class="example-full-width">
              <textarea matInput74 placeholder="Leave a comment"></textarea>
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <textarea matInput75 placeholder="Leave a comment"></textarea>
            </mat-form-field> </td>

    </tr>
    <tr>
      <td scope="row">Action Plan for Improvement </td>
      <td>
          <mat-form-field class="example-full-width">
              <textarea matInput76 placeholder="Leave a comment"></textarea>
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <textarea matInput77 placeholder="Leave a comment"></textarea>
            </mat-form-field>
      </td>

    </tr>
  
  </tbody>
</table>
