
.main-table-wrapper {
    border: 1px solid #ddd;
    padding-top: 0;
    margin-top: 79px;
    padding: 1px;
}
  .table .thead-dark th {
    background-color: #28bdf0;
    border-color: #28bdf0;
}
.employeetable {
    margin-bottom: 0;
}
.main-table-wrapper td:last-child {
    border: none !important;
}
.main-table-wrapper td {
    border-right: 1px solid #ddd;
}
.main-heading-show-empty-grid {
    margin-top: 100px;
    color: #ffc800;
    text-align: center;
}