
<!-- <button  (click)="employeeview()">View</button>  -->
<app-menu></app-menu>
<div class="container">
    <div  *ngIf="Showemployeelistgrid" class="main-table-wrapper">
<div  *ngIf="Showemployeelistgrid" class="table-responsive" >
<table class="table employeetable">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Employee Name</th>
            <th scope="col">Department</th>
            <th scope="col">Cycle</th>
            <th scope="col">View</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{fullName}} </td>
            <td> {{department}}</td>
            <td>November 2018 to April 2019</td>
           <td> <button  class="btn btn-primary"    (click)="employeeview()">ViewForm</button> </td> 
        </tbody>
      </table>
    </div>
   
</div>
<div class="main-heading-show-empty-grid"  *ngIf="Showemptygrid" >
  <h1> Appraisal Form is not Re-initiated.</h1>
</div>
</div>