
         

              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Behavioural goals</th>
                    <th scope="col">Rating
                      (Manager evaluation)
                      </th>
                    <th scope="col">Comments
                      (Manager evaluation)
                      </th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">Goal 1: Fulfilment of SP Values and Code of Conduct</td>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput61 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput62 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>

                  </tr>
                  <tr>
                    <td scope="row">Goal 2: Willingness to Learn new things</td>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput63 placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <textarea matInput64 placeholder="Leave a comment"></textarea>
                          </mat-form-field>
                         </td>

                  </tr>
                  <tr>
                    <td scope="row">Goal 3: Communication Skills(Oral and Written) </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <textarea matInput65 placeholder="Leave a comment"></textarea>
                          </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <textarea matInput66 placeholder="Leave a comment"></textarea>
                          </mat-form-field>
                    </td>

                  </tr>
                  <tr>
                    <td scope="row">Goal 4: Ability to Work in Teams(Team Bonding) </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <textarea matInput67 placeholder="Leave a comment"></textarea>
                          </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <textarea matInput68 placeholder="Leave a comment"></textarea>
                          </mat-form-field>
                    </td>

                  </tr>
                  <tr>
                    <td scope="row">Goal 5: Initiative and Pro-Activeness</td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <textarea matInput69 placeholder="Leave a comment"></textarea>
                          </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <textarea matInput70 placeholder="Leave a comment"></textarea>
                          </mat-form-field>
                    </td>

                  </tr>
                </tbody>
              </table>

              <table class="table">
                <tbody>
                  <tr>
                    <td scope="row">PerformanceRating Scale</td>
                    <td>(1) Significantly below expectations</td>
                    <td>(2) Below expectations</td>
                    <td>(3) Meets most expectations</td>
                    <td>(4) Meets all expectations</td>
                    <td>(5) Way above Expectations</td>
                  </tr>
                </tbody>
              </table>
            <!-- </div>
        </div>
    </section> -->