

                <h3 class="text-left">Ambitions and job expectations</h3>
                <table class="table">
                  
                  <tbody class="left-bg">
                    <tr>
                      <td scope="row">What are my ambitions/job expectations and goals in a 1-3 year perspective</td>
                      <td style="width: 650px;">
                          <mat-form-field class="example-full-width">
                              <!-- <textarea matInput71
                              cdkTextareaAutosize
                              #autosize="cdkTextareaAutosize"
                              cdkAutosizeMinRows="1"
                              cdkAutosizeMaxRows="5"></textarea> -->
                          <textarea matInput71 placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                      </td>
                    </tr>
                  
                  </tbody>
                </table>
